

.table-container {
    background-color: #fcfcfc;
    border-radius: 0.5rem; 
    box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); 
  }
  
  .table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem; 
    border-bottom: 1px solid #e5e7eb;
  }
  
  .table-header h2 {
    font-size: 1.25rem; 
    font-weight: 600; 
  }
  
  .add-button {
    background-color: #168C0DFF; 
    color: #ffffff; 
    padding: 0.5rem 1rem;
    border-radius: 0.5rem; 
    display: flex;
    align-items: center;
  }
  
  .add-button svg {
    margin-right: 0.5rem;
  }
  
  .table {
    width: 100%;
  }
  
  .table th, .table td {
    padding: 1rem;
  }
  
  .table-tabla {
    text-align: left;
    font-size: 0.75rem;
    font-weight: 500; 
    text-transform: uppercase; 
    color: #6b7280; 
    letter-spacing: 0.05em;
  }
  

  .table thead {
    background-color: #c8cacf; 
    border-top: none;
    border-bottom: none; 
  }
  
 
  .table th {
    border-top: none;
    border-bottom: none; 
  }
  
  .table td {
    font-size: 0.875rem; 
    color: #4b5563; 
  }
  
  .actions button {
    margin-right: 0.75rem;
    justify-content: end;
  }
  
  .actions button:last-child {
    margin-right: 0; 
    justify-content: end;

  }
  
  .view-button {
    color: #168C0DFF; 
    background-color: #ffffff;
  }
  
  .edit-button {
    color: #168C0DFF; 
    background-color: #ffffff;
  }
  
  .delete-button {
    color: #168C0DFF; 
    background-color: #ffffff;
  }
  
  .pagination-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 1.5rem; 
    background-color: #f9fafb; 
  }
  
  .pagination-info {
    display: flex;
    align-items: center;
  }
  
  .pagination-info select {
    border: 1px solid #d1d5db; 
    border-radius: 0.25rem; 
    background-color: #ffffff;
    padding: 0.25rem 0.5rem;
  }
  
  .pagination-controls {
    display: flex;
    align-items: center;
  }
  
  .pagination-controls button {
    padding: 0.25rem; 
    border-radius: 9999px; 
    color: #000000;
    background-color: #ffffff;
    transition: background-color 0.2s;
  }
  
  .pagination-controls button:hover {
    background-color: #168C0DFF; 
  }
  

.modal {
    position: fixed;
    top: 0; 
    left: 10px;
    right: 10px;
    bottom: 10px;
    background-color: rgba(4, 4, 4, 0.541);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.modal-content {
    background-color: rgb(252, 252, 252);
    border-radius: 0.5rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 80%; /* Ajusta este valor para controlar el ancho del modal */
    max-height: 50rem;
}

    


.titlee {
    background-color: #345246; 
    color: white;
    padding: 19px;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -20px;
    margin-left: -20px;
    margin-right: -20px;
}

.modal-title {
    font-size: 1.25rem;
    font-weight: 600;
}

.form-group {
    margin-bottom: 1.5rem;
}
.p{
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 400;
  text-align: left;
  color: #4A4A4A;
   
}

label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 500;
    text-align: left;
    color: #4A4A4A; 
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="file"],
select {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #D1D5DB; 
    border-radius: 0.375rem; 
    box-shadow: none;
    transition: border-color 0.2s;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
select:focus {
    border-color: #4CAF50; 
}

.logo-upload {
    border: 2px dashed #D1D5DB; 
    border-radius: 0.375rem; 
    padding: 1rem;
    text-align: center;
    cursor: pointer;
    margin-bottom: 1.5rem;
    transition: background-color 0.2s;
}

.logo-upload:hover {
    background-color: #F9FAFB; 
}

.modal-footer {
    background-color: #F9FAFB; 
    padding: 16px;
    display: flex;
    justify-content: flex-end;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.button {
    padding: 0.75rem 1.5rem; 
    border: none;
    border-radius: 0.375rem; 
    font-weight: 500;
    cursor: pointer;
    margin-left: 15px; 
    transition: background-color 0.2s;
    background-color: #45a049; 
    justify-content: end;
}

.cancelbutton {
    border: 1px solid #2764dd; 
    color: #6a5656;
    background-color: #e5e7eb;
  justify-content: end;
    padding: 8px 16px;
    border-radius: 4px;
    margin-right: 10px;
    border: none;
    cursor: pointer;
}

.cancelbutton:hover {
    background-color: rgb(167, 255, 161);
}

.createbutton {
    background-color: #168C0DFF; 
    color: white;
    color: white;
    padding: 8px 16px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    justify-content: end;
}

.createbutton:hover {
    background-color: #45a049; 
}

