
@tailwind base;
@tailwind components;
@tailwind utilities;

.select__single-value,
.select__option {
  text-transform: uppercase;
}

.buscadorMovile {
  display: none;
}

select {
  text-transform: capitalize;
}

.menuAplicativo {
  z-index: 20;
}

.btn_menuAplicativo {
  z-index: 25;
}

.buscadorTable {
  z-index: 0 !important;
}

.menucompleto {
  position: relative;
  /* z-index: 50; */
}


.selectorUniversal {
  width: 30em !important;
}


/* Para dispositivos móviles (max-width: 767px) */
@media screen and (max-width: 767px) {

  .contenedorNabvar {
    background-color: white;
    position: fixed;
    width: 100%;
    /* height: 5em; */
    margin-bottom: 10em;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgb(231, 231, 231);
  }


  .selectorUniversal {
    font-size: 0.8em !important;
    width: 20em !important;

  }


  .containerEmporesa {
    margin-top: 10em;
  }

  .buscadorModulo {
    position: absolute;
    top: -10px;
  }

  .infosessionperfil {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    margin-top: 1em;
  }

  .seccionNombreBtn {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }

  .divisor {
    margin: 0.5em;
  }

  .selectoraUniversal {
    width: 100% !important;
  }

  .seccionLotes{
    display: flex;
    flex-direction: column;
  }
}

/* Para tablets (768px a 1024px) */
@media screen and (min-width: 768px) and (max-width: 1024px) {


  .infosessionperfil {
    cursor: pointer;
    margin-right: 3em;
  }

  .selectorUniversal {
    width: 20em !important;
  }


}

textarea {
  resize: none;
  height: 10em;
}


.contenedorImagenLogo{
  width: 100% !important;
  display: flex;
  justify-content: space-around;
}


.selectorMultipleVariables{
  height: 2.7em !important;
}


.borderEspacio{
  border: 1px solid red;
  width: 100% !important;
}