@tailwind base;
@tailwind components;
@tailwind utilities;


.select__single-value,
.select__option {
  text-transform: uppercase;
}

select{
    text-transform: capitalize;
}

.menuAplicativo{
  z-index: 20;
}

.btn_menuAplicativo{
  z-index: 25;
}


/* Para dispositivos móviles (max-width: 767px) */
@media screen and (max-width: 767px) {
  .buscadorModulo, .seccionNombreUser {
   display: none;
  }

  .seccionNombreBtn{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }

  .divisor{
    margin: 0.5em;
  }

  .selectoraUniversal{
    z-index: -1000;
  }
}

/* Para tablets (768px a 1024px) */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .iconSearch {
    display: none;
   }
 
}
